@import "tailwindcss";

.snap-container::-webkit-scrollbar { display: none; }
.snap-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overscroll-behavior-y: contain; 
}
.snap-item {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    min-height: 100vh; /* Critical for mobile responsiveness */
}
.text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}
/* Hide scrollbar for IE, Edge Legacy */
* {
  -ms-overflow-style: none;
}